<h1 id="main_title">Welcome to the Skills Inventory</h1>

<ul id="buttons">
  <li><button><a href="/skills">Skills Index</a></button></li>
  <li><button><a href="/skills/new">New Skill</a></button></li>
</ul>

<body background="http://img.photobucket.com/albums/v114/indicaps/Napoleon%20Dynamite/02/napoleon_dynamite_765.jpg"></body>
