<h1>Edit Skill #<%= @skill.id %></h1>

<form action="/skills/<%= @skill.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='skill[title]' value="<%= @skill.title %>"/><br/>
  <textarea name='skill[description]'><%= @skill.description %></textarea><br/>
  <input type='submit'/>
</form>
