<form action="/skills" method="post">
  <p id="new-skill">Enter a new skill:</p>
  <p id="title">Title:</p>
  <input type='text' name='skill[title]'/>
  <p id="description">Description:</p>
  <textarea name='skill[description]'></textarea><br/>
  <input type='submit'/>
</form>
